@using webapp_travel_agency.Models
@model Pacchetto
<div class = "container" >
	<div class= "row">
		<div class = "col col-12 ">
			<div>
				<h1> Dettagli Pacchetto </h1>
				<div>
				<img src = "@Model.Image" />
				</div>

			</div>
			<p>
				Nome Pacchetto: @Model.Title
			</p>
			<p> Descrizione: @Model.Description</p>
		</div>

	</div>
</div>

